.seekbarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 8px;
}
.seekbarInput {
    display: flex;
    flex-basis: 95%;
    justify-content: center;
    .rc-slider {
        width: 90%;
        margin: 16px 0;
    }
    .rc-slider-rail {
        height: 12px;
        // box-shadow: -3px -3px 5px #fff, 3px 3px 5px rgba(0, 0, 0, 0.05), inset 3px 3px 5px rgba(0,0,0,0.05), inset -3px -3px 5px #fff;
    }
    .rc-slider-track {
        height: 6px;
        top: 8px;
    }
}
.videoSeekbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.playBtn {
    display: flex;
    height: 48px;
    width: 48px;
    flex-basis: 5%;
    font-size: 16px;
    color: #fff;
    background-color: #b6b6b6;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.seekbarTime {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
    margin-top: 8px;
    color: #FFF;
    font-size: 14px;
    
}