.buttonContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .6em 1.2em;
    outline: none;
    border-radius: 8px;
    border: 1px transparent;
    background-clip: border-box;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 1.3;
    box-shadow: 4px 4px 8px rgba(131, 127, 167, 0.3), -4px -4px 8px rgba(255 ,255 ,255 ,50%), inset 1px 1px 1px rgba(224 ,234 ,249 ,50%);
    transition: .2s ease-in-out;
    background-color: #fdfdfd;
    color: #383555;

    &:hover {
        box-shadow: 6px 6px 12px rgba(84, 80, 124, 0.3), -6px -6px 12px rgba(255, 255, 255, 50%), inset 1px 1px 1px rgba(224 ,234 ,249 ,50%);
        z-index: 99;
    }
}